<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show</title>
  </head>
  <body>
    <h3>Listing Details</h3>
    <ul>
      <li><%= list.title %></li>
      <li><%= list.description %></li>
      <li>&#8377;<%= list.price.toLocaleString('en-IN') %></li>
      <li><%= list.location %></li>
      <li><%= list.country %></li>
    </ul>
    <form action="/listings/<%= list._id %>/edit" method="get">
      <button type="submit">Edit</button>
    </form>
  </body>
</html>
