<% layout("/layout/boilerplate") %>
<body>
  <h3 class="text-danger p-3 font text-center">Edit List</h3>
  <div class="row">
    <div class="col-8 offset-2">
      <form
        action="/listings/<%= listing.id %>?_method=PATCH"
        class="needs-validation"
        novalidate
        method="post"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            placeholder="Title"
            required
            name="listing[title]"
            value="<%= listing.title %>"
            class="form-control"
          />
          <div class="invalid-feedback">Title should be valid</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            type="text"
            placeholder="Description"
            name="listing[description]"
            rows="3"
            cols="20"
            class="form-control"
            required
          >
<%= listing.description %></textarea
          >
          <div class="invalid-feedback">Description should be valid</div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Image</label>
          <input
            type="text"
            placeholder="Image URL"
            name="listing[image]"
            value="<%= listing.image %>"
            class="form-control"
          />
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              min="1"
              required
              placeholder="price"
              name="listing[price]"
              value="<%= listing.price %>"
              class="form-control"
            />
            <div class="invalid-feedback">Price should be valid</div>
          </div>

          <div class="col-md-4 mb-3">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              placeholder="Country"
              name="listing[country]"
              required
              class="form-control"
              value="<%= listing.country %>"
            />
            <div class="invalid-feedback">Country should be valid</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            required
            placeholder="Add location"
            name="listing[location]"
            value="<%= listing.location %>"
            class="form-control"
          />
          <div class="invalid-feedback">Location should be valid</div>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-danger p-2">Edit</button>
        </div>
      </form>
    </div>
  </div>
</body>
