<% layout("/layout/boilerplate") %>

<div class="row w-100">
  <div class="col-8 offset-3">
    <h3 class="mt-3"><%= list.title %></h3>
  </div>

  <div class="container card listing-card col-8 offset-2">
    <img
      src="<%= list.image.url %>"
      class="card-img-top show_img"
      alt="listing_image"
    />
    <div class="card-body mt-2">
      <p class="card-text"><b>Owned by:<%= list.owner.username %></b></p>
      <p class="card-text"><%= list.description %></p>
      <p class="card-text">
        <b>&#8377;<%= list.price.toLocaleString('en-IN') %> </b>
      </p>
      <p class="card-text"><%= list.location %> <%= list.country %></p>
    </div>
  </div>

  <% if(currentUser && currentUser._id.equals(list.owner._id)) { %>

  <div class="d-flex p-2 col-1 offset-3">
    <a href="/listings/<%= list._id %>/edit" class="btn btn-dark"
      >Edit<i class="fa-solid fa-pen-to-square fa-md mx-1"></i>
    </a>
    <div>
      <form action="/listings/<%= list._id %>?_method=DELETE" method="post">
        <button type="submit" class="btn btn-danger offset-3">
          Delete<i class="fa-solid fa-trash fa-md mx-1"></i>
        </button>
      </form>
    </div>
  </div>
  <% } %>

  <div class="col-8 offset-3">
    <hr />
    <% if(currentUser) { %>
    <h4>Leave a comment</h4>
    <form
      action="/listings/<%= list.id %>/reviews"
      method="post"
      class="needs-validation"
      novalidate
    >
      <div class="mb-3">
        <label class="form-label" for="rating">Rating</label>
        <fieldset class="starability-fade">
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="review[rating]"
            value="0"
            checked
            aria-label="No rating."
          />
          <input
            type="radio"
            id="first-rate1"
            name="review[rating]"
            value="1"
          />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input
            type="radio"
            id="first-rate2"
            name="review[rating]"
            value="2"
          />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input
            type="radio"
            id="first-rate3"
            name="review[rating]"
            value="3"
          />
          <label for="first-rate3" title="Average">3 stars</label>
          <input
            type="radio"
            id="first-rate4"
            name="review[rating]"
            value="4"
          />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input
            type="radio"
            id="first-rate5"
            name="review[rating]"
            value="5"
          />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>
      <div class="mt-3">
        <label class="form-label" for="comment">Comment</label>
        <textarea
          name="review[comment]"
          id="comment"
          rows="5"
          cols="40"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please add some feedback!</div>
      </div>
      <div class="mb-3 mt-3">
        <button type="submit" class="btn btn-outline-dark">Submit</button>
      </div>
    </form>
    <hr />
    <% } %>

    <h4><b>All Reviews</b></h4>
    <div class="row">
      <%for(let review of list.reviews) { %>

      <div class="card col-5 mb-3 review-card ms-3">
        <div class="card-body">
          <div class="card-title d-flex justify-content-between">
            <b class="mt-1"> @<%= review.author.username %></b>
            <form
              action="/listings/<%= list._id %>/reviews/<%= review.id %>?_method=DELETE"
              method="post"
            >
              <% if(currentUser && currentUser._id.equals(review.author._id))
              {%>
              <button type="submit" class="btn btn-outline-danger btn-sm mt-1">
                <i class="fa-solid fa-trash"></i>
              </button>
              <% } %>
            </form>
          </div>
          <p class="card-text ratings"><%= review.comment %></p>

          <p
            class="starability-result card-text mb-1"
            data-rating="<%= review.rating %>"
          ></p>
        </div>
      </div>

      <% } %>
    </div>
  </div>
</div>
